<?php

//SITE CONFIG
$SITE_NAME = '<Site Name>'; //INSERT YOUR SITE NAME
$SITE_DOMAIN = '<Site Domain>'; //INSERT SITE DOMAIN, FOR EXAMPLE google.com


//MYSQL CONFIG
$DB_HOST = ''; //INSERT DB HOST HERE
$DB_USER = ''; //INSERT DB USER HERE
$DB_PASS = ''; //INSERT DB PASSWORD HERE
$DB_NAME = ''; //INSERT DB NAME HERE
$DB_PORT = ''; //INSERT DB PORT HERE


//SMTP CONFIG
$SMTP_HOST = ''; //INSERT SMTP HOST HERE
$SMTP_AUTH = true; //ENABLE SMTP AUTHENTICATION
$SMTP_USERNAME = ''; //INSERT SMTP USER NAME HERE
$SMTP_PASSWORD = ''; //INSERT SMTP PASSWORD HERE
$SMTP_ENCRYPTION = 'ssl'; //SET SMTP ENCRYPTION MODE
$SMTP_PORT = '465'; //SET SMTP PORT

//OPTIONAL: USE LDAP AUTHENTICATION
$LDAP_AUTH = false; // SET TO TRUE IF YOU WANT TO USE LDAP AUTHENTICATION, BUILT IN USER CREATION WONT WORK AFTER THAT
$LDAP_SSL = false; // IF SET TO TRUE, THE SCRIPT WILL USE 'LDAPS', IF FALSE IT WILL USE 'LDAP'
$LDAP_SERVER = ''; // SERVER TO WHICH THE LDAP REQUEST SHOULD BE SENT TO
$LDAP_PORT = ''; // PORT TO WHICH THE LDAP REQUEST SHOULD BE SENT TO
$LDAP_BASE_DN = 'OU=XYZ,DC=DOMAIN,DC=TLD'; // SET THE BASE DN FOR LDAP AUTHENTICATIONS, THIS WILL BE WHERE THE SCRIPT WILL SEARCH FOR USERS
$LDAP_ADMIN_GROUP = ''; // SET THE NAME OF THE ADMIN GROUP. USERS IN THIS GROUP WILL BE ABLE TO ACCESS THE ADMIN PANEL


// APPLICATION SETTINGS
$CARS = ['Mercedes', 'BMW']; // CARS ARRAY IF DB MISSING
$LOCATION_API_TOKEN = ''; // LOCATION API (MY.LOCATIONIQ.COM)
$LDAP_AUTH = false; // SET TO TRUE IF YOU WANT TO USE LDAP AUTHENTICATION
$CLIENT_LOGO = '<company logo>'; // Company logo for client